/**
 * Material Modal CSS
 */
.modal {
  will-change: visibility, opacity;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition-delay: 0;
  transition-delay: 0;
  min-height: 100vh;
}
.modal--active {
  visibility: visible;
  opacity: 1;
}
.modal--align-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.modal__bg {
  background: transparent;
}
.modal__dialog {
  max-width: 100%;
  width: 100%;
}
.modal__content {
  will-change: transform, opacity;
  position: relative;
  background: #fff;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
  opacity: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
}
.modal__content--active {
  opacity: 1;
}
.modal__content-image {
  background: #fff;
  height: 33.33%;
  background-size: cover;
}
.modal__content-text {
  padding: 2.4rem 0;
  max-width: 720px;
  margin: 0 24px;

  @media screen and (min-width: 796px) {
    margin: auto;
  }

  .et_pb_row {
    width: 100%;
  }
}

.modal__close {
  z-index: 1100;
  cursor: pointer;
  position: fixed;
  top: auto;
  bottom: 0;
  right: 0;
  margin: 1.2rem;
  padding: 0.6rem;
  background: rgba( 0, 0, 0, 0.3 );
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  line-height: 1;

  @media screen and (min-width: 960px) {
    top: 0;
    bottom: auto;
  }
}

.modal__close svg {
  width: 24px;
  fill: #fff;
  pointer-events: none;
  vertical-align: top;
}

.modal__trigger {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgba(0,0,0,0.7);
  line-height: 1;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 3px;
}
.modal__trigger--active {
  z-index: 10;
}
.modal__trigger img {
  width: 100%;
}
.modal__trigger .blurb {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  p {
    font-size: 14px;
    line-height: 24px;
    flex-grow: 1;
  }
}
.modal__trigger h4 {
  font-size: 1.4rem;
  padding-bottom: 5px;
}
#modal__temp {
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f6f6f6;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
  -webkit-transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.blurb-three-col-grid {
  display: flex;
  flex-wrap: wrap;

  .blurb__wrap {
    width: 100%;
    padding: 5px;

    @media screen and (min-width: 525px) {
      width: 50%;
    }

    @media screen and (min-width: 768px) {
      width: 33.33%;
      padding: 10px;
    }
  }

  .modal__trigger {
    height: 100%;
  }
}

.blurb-meta {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  font-size: 14px;

  .meta-category {
    background: #ededed;
    color: #979797;
    border-radius: 10px;
    padding: 2px 10px;
    text-transform: uppercase;
  }
}

.stop-body {
  overflow: hidden;
}