body.overflow-hidden {
  /* used when modal is visible */
  overflow: hidden;
}
a {
  color: #03bb91;
  text-decoration: none;
}

.cd-section {
  display: flex;
  justify-content: center;
}
.cd-modal {
  position: fixed;
  z-index: 4000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s 0s;
  transition: visibility 0s 0.3s, opacity 0.3s 0s;
}
.cd-modal::after {
  /* gradient overlay at bottom of modal window */
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  pointer-events: none;
  background: transparent;
  background: -webkit-linear-gradient( bottom , #34383c, rgba(52, 56, 60, 0));
  background: linear-gradient(to top, #34383c, rgba(52, 56, 60, 0));
}
.cd-modal .cd-modal-content {
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 1em 5% 4em 5%;
  text-align: left;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 4000;
}
.cd-modal p {
  color: #ffffff;
  line-height: 1.6;
  margin: 2em 0;
}
.modal-is-visible .cd-modal {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: visibility 0s 0s, opacity 0.3s 0s;
  transition: visibility 0s 0s, opacity 0.3s 0s;
}
.modal-is-visible .cd-modal .cd-model-content {
  position: relative;
  z-index: 1000;
}
@media only screen and (min-width: 768px) {
  .cd-modal .cd-modal-content {
    padding: 4em 10%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-modal .cd-modal-content {
    padding: 6em 20%;
  }
  .cd-modal p {
    font-size: 2rem;
    line-height: 2;
  }
}

.cd-modal-action {
  position: relative;
  text-align: center;
}
.cd-modal-action .btn, .cd-modal-action .cd-modal-bg {
  display: inline-block;
  height: 4em;
  background-color: #34383c;
}
.cd-modal-action .btn {
  position: relative;
  width: 12.5em;
  color: #ffffff;
  border-radius: 0;
  line-height: 4em;
  white-space: nowrap;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: color 0.2s 0.3s, width 0.3s 0s;
  -moz-transition: color 0.2s 0.3s, width 0.3s 0s;
  transition: color 0.2s 0.3s, width 0.3s 0s;
}
.cd-modal-action .btn.to-circle {
  width: 4em;
  border-radius: 5em;
  color: transparent;
  -webkit-transition: color 0.2s 0s, width 0.3s 0.2s, border-radius 0.3s 0.2s;
  -moz-transition: color 0.2s 0s, width 0.3s 0.2s, border-radius 0.3s 0.2s;
  transition: color 0.2s 0s, width 0.3s 0.2s, border-radius 0.3s 0.2s;
}
.cd-modal-action .cd-modal-bg {
  position: absolute;
  left: 50%;
  top: 0;
  width: 4em;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(-2em);
  -moz-transform: translateX(-2em);
  -ms-transform: translateX(-2em);
  -o-transform: translateX(-2em);
  transform: translateX(-2em);
  -webkit-transition: visibility 0s 0.5s;
  -moz-transition: visibility 0s 0.5s;
  transition: visibility 0s 0.5s;
}
.cd-modal-action .cd-modal-bg.is-visible {
  opacity: 1;
  visibility: visible;
  z-index: 3000;
}

.cd-modal-close {
  position: fixed;
  z-index: 5000;
  bottom: 20px;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url(//dl.dropboxusercontent.com/u/242824/OneNorth/Articles/Assets/images/cd-icon-close.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}
.no-touch .cd-modal-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-is-visible .cd-modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
@media only screen and (min-width: 768px) {
  .cd-modal-close {
    top: 70px;
  }
}

.cd-form {
  .cd-modal .cd-modal-content {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 5vw;

    @media only screen and (min-width: 640px) {
      padding: 0;
      top: 10vh;
      left: 20vw;
      height: 80vh;
      width: 60vw;
      overflow: hidden;
    }

    @media only screen and (min-width: 768px) {
      padding: 0;
    }
    @media only screen and (min-width: 1170px) {
      padding: 0;
    }
  }
  .cd-modal {
    &:after {
      display: none;
    }
  }
  .cd-modal-action .cd-modal-bg {
    border-radius: 0;
  }
  .cd-modal::after {
    display: none;
  }
  .cd-bg-overlay {
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    transition: opacity 0.2s linear;
  }
  &.modal-is-visible .cd-bg-overlay {
    opacity: 1;
    visibility: visible;
  }
}

.cd-slim {
  .cd-modal .cd-modal-content {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 5vw;

    @media only screen and (min-width: 640px) {
      width: 20vw;
      height: auto;
    }
  }
}

